body{
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    border: solid 2px rgba(128, 128, 128, 0);
    background-color: #55535324;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow:  1px 1px 5px rgba(45, 45, 45, 0.37);
    box-shadow:  -1px -1px 5px rgba(45, 45, 45, 0.396);
}

h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
    margin-right: 10px;
}

.input-container button{
    width: 25%;
    padding: 10px;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-container button:hover {
    background-color: #3700b3;
}

ul {
    list-style-type: none;
    padding: 0;
    
  }

li{
    background-color: #333333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

li.completed {
    text-decoration: line-through;
    opacity: 0.7;
  }
  
  li button {
    background-color: #d32f2f;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #b71c1c;
  }